:root{
    --header-text-color: #212121;
    --primary-text-color: #757575;
    --social-group-color:#AFB1B8;
    --background-footer-color: #2F303A;
    --join-link-color:#44454E;
    --footer-list-color:rgba(255, 255, 255, 0.6);
    --link-text-color:#2196F3;
    --change-text-color:#188CE8;
    --background-text-color: #ffffff;
    --border-solid-colot:#ECECEC;
    --benefis-background-color:#F5F4FA;
    --border-pictures-nut-color:#EEEEEE;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    }